@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.signupbg {
  background-image: url("./assets/signupBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.activeNavIconColor {
  filter: invert(16%) sepia(72%) saturate(4562%) hue-rotate(348deg) brightness(99%) contrast(94%);
}

.userProfileHeader {
  background-image: url("./assets/userProfileHeader.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9px 9px 0px 0px;
}

.opacity-overlay {
  position: relative;
}

.opacity-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 50%;
  background-color: #2C2C2C;
  opacity: 0.7;
  box-shadow: 0px 10px 10px rgba(44, 44, 44, 0.941);
  z-index: 100;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EC1F26;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e76060;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* for every modal  */
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);

}

.modalContainer {
  border-radius: 9px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  animation-name: animateModal;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes animateModal {
  0% {
    top: -20px;
  }

  100% {
    top: 50%;
  }
}

.buttonAnimation {
  position: relative;
  transition: all;
  transition-duration: 100ms;
}

.buttonAnimation:hover {
  top: 2px;
}

.buttonAnimation:active {
  top: 4px;
}